body{
    background-color: rgb(204, 68, 68);    
}

#login_div1 , #login_div2{
    background: white;
    padding: 10px;
    float: none;
    border-radius:  15px; 
    width: 80%;
}

#login{
    background-color: rgb(101, 142, 253);
    width: 30% ;
    height: 40% ;
    font-size: 18px;
    border-radius: 5px;
    border-color: rgb(101, 142, 253);
    color: white;
    font-weight: bold;
}